<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1" />
    <meta
      name="description"
      content="Creature & Co: strategists, solvers, makers extraordinaire."
    />
    <title>Creature & Co. | {{ page.title }}</title>
    <link
      id="favicon"
      rel="icon"
      href="/images/favicon.svg"
      type="image/svg+xml"
    />
    <link rel="stylesheet" href="/style.css" />
  </head>
  <body>
    <header>
      <h1>
        <img class="logo" src="/images/logo.svg" alt="Creature & Co." />
      </h1>
    </header>
    {{ content }}
  </body>
</html>
